.cabecalho{
 
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        padding-bottom:50px;
        border-bottom: solid;
        border-top: solid;
        color: azure;

}

.profile img{
    width: 270px;
    height: 250px;
}

.titulo{
    font-size: 60px;
}

body{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}