.cabecalho {    
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-bottom:50px;
    border-bottom: solid;
    border-top: solid;
    color: azure;
}

.cabecalho img{
    border-radius: 493px;
    width: 180px;
    height: 180px;
    padding-top: 15px;

}

.rodape {
    padding-top: 107px;
    width: 580px;
    padding-left: 60px;
}

.titulo {
    font-size: 52px;
    color: azure;
}

.tipos-projetos {
    font-weight: bold;

}


.projetos {
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 120%;
    float:left;
}

.projetos li{
    font-size: 120%;
    position:relative; 
    float:left;
    padding-left: 10px;
    padding-right: 123px;
    padding-top: 15px;
}

.projetos a{
    text-decoration: none;
    color: azure;
}



body {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

.boas-vindas p{
    padding-left: 135px;
    padding-right: 135px;
    margin-block-start: 0;
    margin-block-end: 0;
    color: azure;
}

.projetos h2 {
    font-size: 42px;
    color: azure;
    padding-left: 18px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 30px;
}